<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Young and Lazy</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

  <!-- Bootstrap core CSS -->
  <link href="/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Custom styles for this template -->
  <link href="/style.css" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
      </div>
    </header>

    <main class="mb-auto px-3">
      <h1><img src="/images/y&lLogotransparent.png" width="150rem"></h1>
      <video width="300" controls autoplay loop>
        <source src="/images/promoVid.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video><br>
      <a class="mr-2 text-black" href="https://twitter.com/YoungandLazy_"><i class="fab fa-twitter fa-2x"></i></a>
      <a class="text-black" href="https://www.instagram.com/youngandlazy_"><i class="fab fa-instagram fa-2x"></i></a>
    </main>

  </div>
  <script src="https://kit.fontawesome.com/c61bc95792.js" crossorigin="anonymous"></script>
</body>

</html>
